PROJECT_NAME_HERE_SECRET_KEY=local_dev_secret_key_for_poolc
EXPIRE_LENGTH_IN_MILLISECONDS=3600000
FILE_DIR=./local-files/
DB_HOST=localhost:5432
DB_NAME=poolc
DB_USER_NAME=poolc
DB_PASSWORD=poolc_dev_password
EMAIL_ADDRESS=local@example.com
EMAIL_PASSWORD=dummy
KAKAO_BOOK_REST_API_KEY=your_kakao_rest_api_key
KUBERNETES_API_KEY=local-dev
